* {box-sizing: border-box;}
<style>



/* Style the input container */

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  color: red;
}

/* Style the form icons */
.jpg {
  padding: 10px;
  background: blue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.active {
  width: 100%;
  padding: 6px;
  outline: none;
  /*margin-top: 9px;*/
  color: blue;
}

.active:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: #32ff7e;
  float: right;
  color: white;
  border: none;
  font-weight: bold;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration : none;
  display: inline-block;
  font-size: 13px;
  margin-top: 20px;
  margin-left: 54px;
}

.btn1 {

  /*float: right;
  padding: 6px;
  margin-top: 0px;
  margin-right: 16px;
  background-color: orange; 
  font-size: 19px;
  border: red;
  cursor: pointer;*/
  background-color: #ff4d4d;
  float: right;
  color: white;
  border: none;
  font-weight: bold;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration : none;
  display: inline-block;
  font-size: 13px;
  margin-top: 20px;
  margin-left: 54px;

}
.btnStyle{
    padding: 6px 20px;
    border-radius: 20px;
    border: 0.5 solid;
    margin-top: 30px;
}

.btn:hover {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .hello .login-container {
    float: none;
  }
  .hello .active .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .active input[type=text] {
    border: 1px solid red;
  }
}
.fullpage{
    background-color: rgb(223, 252, 185);
    height: 1000px;
    padding-top: 5px;
    padding-left: 2%;
}
.loginform{
    background-color: pink;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    margin: 6% auto;
}
 .loginform {
   padding: 10px;
}
.loginform {
    padding-right: 10px;
    font-weight: bold;
}
.login_head {
    padding: 10px;
    font-weight: bolder;
    font-size: 40px;
}

